{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
<body class="{{ body_class }}" data-template="base.twig">
<div class="region-wrap topbar contain-to-grid">
    <header>
        {% block header %}

        <div class="mobile-header">
          <span>Call Now 412-500-0787 to Schedule Service</span>
        </div>

        <div class="row navigation">
          <div class="small-12 medium-12 large-8 columns">
            <a href="{{ site.url }}">
              <img src="{{ site.theme.link }}/img/pennhillslandscaping.png" class="logo-img" />
              <div class="logo-text">
                <h1>Penn Hills Landscaping</h1>
                <h2>Lawn care, landscaping, leaf cleanup, & more.</h2>
              </div>
            </a>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <div class="calltoday">
              <img src="{{ site.theme.link }}/img/calltoday.png" class="calltoday-img" />
              <span>412-500-0787</span>
            </div>
          </div>
        </div>

        {% endblock %}
    </header>
</div>

{#START main contianer#}
<div class="region-wrap main-content">
    <section role="document">
        <div>
            {% if title %}<h1>{{ title }}</h1>{% endif %}

                {% block content %}
                    Sorry, no content
                {% endblock %}

        </div>
        {#/.row#}
    </section>
</div>
{#/.main-content#}

{#START footer container#}
<div class="region-wrap footer">
    <div class="row">
        {% block footer %}
            <footer>
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </div>
    {#/.row#}
</div>
{#/.footer#}

<script>
    (function ($) {
        $(document).foundation();
    })(jQuery);
</script>

<!-- Retina JS for @2x -->
<script src="{{ site.theme.link }}/js/retina.js"></script>

</body>
</html>
