{% extends "base.twig" %}

{% block content %}

  <section class="hero fullWidth">
    <div class="row">
      <div class="small-12 medium-12 large-9 columns">
        <h1>You grow it. <span>We mow it.</span></h1>
        <h2>We do more than just groom your lawn. <br />We make it healthy again.</h2>
        <a href="about.html" class="button">Get a Free Quote</a>
      </div>
      <div class="small-12 medium-12 large-3 columns">
        &nbsp;
      </div>
    </div>
  </section>

  <section class="main-copy">
    <div class="row">
      <div class="small-12 medium-12 large-8 columns">
        <h1>Lawn maintenance and landscaping in Penn Hills and Pittsburgh, PA.</h1>
        <p>Servicing Penn Hills and the East Side of Pittsburgh, Penn Hills Landscaping offers landscape design and construction, lawn mowing, edging, trimming, weeding, mulching, property cleanups, leaf removal, and snow removal.</p>
        <p>We provide lawn maintenance and landscaping to residents in Penn Hills, Crescent Hills, Verona, Rosedale, Oakmont, Riverview, and the East Side of Pittsburgh and Allegheny County.</p>
        <div class="small-12 medium-6 large-6 columns feature-block">
          <img src="{{ site.theme.link }}/img/maintenance.png" />
          <h3>Lawn Maintenance and Grass Cutting</h3>
          <p>We are a full service lawn care company. We offer lawn application programs, tree/shrub programs, mowing, edging and trimming. Anything your lawn may need, we can provide.</p>
        </div>
        <div class="small-12 medium-6 large-6 columns feature-block">
          <img src="{{ site.theme.link }}/img/design.png" />
          <h3>Landscape Design and Construction</h3>
          <p>We have the experience to handle any size project from residential to commercial and public works. We specialize in designing and building - with the capabilities to see your project from an idea to realization.</p>
        </div>
        <div class="small-12 medium-6 large-6 columns feature-block">
          <img src="{{ site.theme.link }}/img/debris.png" />
          <h3>Leaf Removal and Snow Removal</h3>
          <p>When those leaves begin to fall, fall lawn care can turn into a chore. Raking leaves is a time-consuming task and can leave many with sore backs and blisters on their hands.</p>
        </div>
        <div class="small-12 medium-6 large-6 columns feature-block">
          <img src="{{ site.theme.link }}/img/removal.png" />
          <h3>Property Cleanouts and Debris Removal</h3>
          <p>Don't do a big clean-up job alone.  We specialize in large domestic trash pickups, removing rubble, scrap, and outdoor debris from home and construction sites.</p>
        </div>
        <div class="small-12 medium-12 large-12 columns service">
          <h3>Service Area Map</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97120.44545856146!2d-79.84415922346281!3d40.47495704722023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834eb7db4fc89c3%3A0xe2a5280cbfa289d6!2sPenn+Hills%2C+PA!5e0!3m2!1sen!2sus!4v1493855130460" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="small-12 medium-12 large-4 columns">
        <div class="quote">
          <img src="{{ site.theme.link }}/img/satisfaction.png" class="satisfaction" />
          <h4>Get a <span>free online quote</span> below.</h4>
          {% filter shortcodes %}
            <div class="form">[ninja_forms id=2]</div>
          {% endfilter %}
          <img src="{{ site.theme.link }}/img/giveusacall.png" class="giveusacall" />
          <span class="number">412-754-9642</span>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
